:root {
  --background-color: white;
  --background-color-menu: #ddd;
}

body {
  background-color: var(--background-color);
}

.header {
  display: flex;
  align-items: stretch;
}

.header h1 {
  margin: 0;
  flex: 1;
}

.header h1 input {
  border: none;
  font-size: inherit;
}

.header div {
  height: auto;
  position: relative;
}
.header button {
  height: 100%;
  border: none;
  background-color: transparent;
}

#inventory-options {
  font-size: x-large;
  border-radius: 0.25em;
}

#inventory-options:hover {
  background-color: var(--background-color-menu);
}

#inventory-options[aria-expanded="true"] {
  background-color: var(--background-color-menu);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

[role="menu"] {
  display: none;

  position: absolute;
  right: 0;
  width: max-content;

  margin: 0;
  list-style-type: none;
  padding: 0.25em;

  background-color: var(--background-color-menu);
  border-radius: 0.5em;
  border-top-right-radius: 0;
}

[role="menu"].open {
  display: block;
}

[role^="menuitem"] {
  width: 100%;
  text-align: start;
}

[role^="menuitem"]:not([aria-disabled="true"]):hover {
  background-color: oklch(from var(--background-color-menu) calc(l * 90%) c h);
}

[role="menu"] [role="group"] {
  list-style-type: none;
  padding-inline-start: 1.5em;
}

[role="menuitemradio"][aria-checked="true"],
[role="menuitemcheckbox"][aria-checked="true"] {
  list-style-type: "✓";
}

[role^="menuitem"][aria-disabled="true"] {
  color: grey;
  /* FIXME: still has hover state */
}

[role="menu"] [role="separator"] {
  height: 1px;
  background-color: grey;
  margin: 0.25lh 0.25em;
}

.tabs {
  --border-color: #888;
  --border-selected-width: 2px;
}

[role="tablist"] {
  display: flex;
  gap: 0.25em;
}

[role="tab"] {
  position: relative;
  display: block;

  --padding: 0.25em;
  padding: var(--padding);

  border: 1px solid var(--border-color);
  border-radius: calc(2 * var(--padding));
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0px !important;

  background-color: oklch(from var(--background-color) calc(l * 90%) c h);
  font-weight: bold;
}

[role="tab"]:hover {
  background-color: oklch(from var(--background-color) calc(l * 95%) c h);
}

[role="tab"]:focus {
  text-decoration: underline;
}

[role="tab"][aria-selected="true"] {
  background-color: transparent;

  border-width: var(--border-selected-width);
  border-top-width: 0.25lh;
  border-top-color: blue;
}

[role="tab"][aria-selected="true"]::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: calc(-1 * var(--border-selected-width));

  display: block;
  width: 100%;
  height: var(--border-selected-width);
  background-color: var(--background-color);
}

[role="tabpanel"] {
  --padding: 0.25em;
  padding: var(--padding);

  border: var(--border-selected-width) solid var(--border-color);
  border-radius: calc(2 * var(--padding));
  border-top-left-radius: 0;
}

[role="tabpanel"].hidden {
  display: none;
}
